/*Utilities Imports*/
/*Intro Overlay Colors*/
/*About me info vertical spacing*/
/*Base Imports*/
body {
  font-family: 'Rubik', sans-serif;
  color: #4e4e4e;
}

/*Component Imports*/
.intro-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.overlay-content {
  background-color: #4e4e4e;
}

.profile-image-container {
  width: 150px;
  height: 150px;
}

.profile-image-container::after {
  display: block;
  content: "";
  clear: both;
}

.profile-image-container img {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#overlay-highlight {
  color: #a45a52;
}

#intro-overlay-enter {
  background-color: #a45a52;
}

@media (min-width: 992px) {
  .profile-image-container {
    width: 300px;
    height: 300px;
  }
  .intro-overlay-name {
    font-size: 2.25rem;
  }
  .intro-overlay-welcome {
    font-size: 2rem;
  }
}

.about-me {
  width: 100%;
  height: 95vh;
  background-image: url("../images/hero-image.jpg");
  background-position: -590px center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me-text {
  height: 100%;
  background-color: rgba(65, 65, 65, 0.45);
}

.about-me-header {
  font-size: 2.25rem;
  font-weight: bold;
}

.about-me-name {
  font-size: 2.25rem;
  font-weight: 900;
  margin-bottom: 3rem;
  color: #53d9eb;
}

.text-highlight {
  color: #53d9eb;
}

.about-me-info-sm {
  font-size: 1.35rem;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about-me-info-sm-dev {
  font-size: 1.5rem;
}

@media (min-width: 414px) {
  .about-me {
    background-position: -620px center;
  }
}

@media (max-height: 736px) {
  .about-me {
    background-position: -500px center;
  }
}

@media (min-width: 576px) {
  .about-me {
    background-position: center;
  }
  .about-me-header {
    font-size: 2.75rem;
  }
  .about-me-name {
    font-size: 3rem;
  }
  .about-me-info-sm {
    font-size: 2rem;
  }
  .about-me-info-sm-dev {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .about-me-info-md {
    display: none;
  }
}

@media (min-width: 768px) {
  .about-me-info-sm,
  .about-me-info-sm-dev {
    display: none;
  }
  .about-me-text {
    padding-left: 2rem;
  }
  .about-me-header {
    width: 60%;
    margin-top: 4.5rem;
    margin-bottom: 1rem;
  }
  .about-me-name {
    width: 60%;
    font-size: 3.25rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .about-me-info-md {
    width: 60%;
    font-size: 1.25rem;
    margin-top: 1rem;
  }
  .text-highlight {
    font-weight: bold;
  }
}

@media (min-width: 992px) {
  .about-me-header {
    margin-top: 6.25rem;
  }
  .about-me-name {
    margin-top: 0rem;
  }
  .about-me-info-md {
    font-size: 1.45rem;
    margin-top: 0.75rem;
  }
}

@media (min-width: 1200px) {
  .about-me-info-md {
    font-size: 1.45rem;
  }
}

@media (min-width: 1500px) {
  .about-me-header {
    font-size: 3rem;
  }
  .about-me-name {
    font-size: 3.75rem;
  }
  .about-me-info-md {
    font-size: 1.75rem;
  }
}

/*Media Queries for mobile landscape orientation*/
@media (max-width: 1200px) and (max-height: 850px) {
  .about-me-header {
    font-size: 2rem;
  }
  .about-me-name {
    font-size: 2.5rem;
  }
  .about-me-info-md {
    font-size: 1.25rem;
  }
}

@media (max-width: 896px) and (max-height: 505px) {
  .about-me-header,
  .about-me-name,
  .about-me-info-sm,
  .about-me-info-sm-dev {
    width: 60%;
  }
  .about-me-info-sm,
  .about-me-info-sm-dev {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
  }
  .about-me-header {
    font-size: 1.25rem;
    margin: 0rem;
    margin-top: -1rem;
  }
  .about-me-name {
    font-size: 1.5rem;
    margin: 0rem;
    margin-bottom: 1rem;
  }
  .about-me-info-md {
    display: none;
  }
}

.nav-item {
  font-size: 1.1rem;
}

.skills-section {
  background-image: url("../images/dodge-grey.jpg");
  background-position: center -250px;
  background-size: cover;
  overflow-x: auto;
}

.skills-section-header {
  color: #4e4e4e;
  font-weight: bolder;
  -webkit-text-decoration-line: underline;
  /* Safari */
  text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-decoration-color: #53d9eb;
          text-decoration-color: #53d9eb;
}

.skills-intro {
  margin: 0;
  padding: 0px 15px 15px;
}

.skills-header-container,
.col-md {
  background-color: White;
  opacity: 0.9;
  border-radius: 8px;
}

.col-md h4 {
  font-weight: bold;
  color: #a45a52;
}

.skills-section p {
  font-size: 1.20rem;
}

.projects-section-header {
  color: #4e4e4e;
  font-weight: bolder;
  -webkit-text-decoration-line: underline;
  /* Safari */
  text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-decoration-color: #53d9eb;
          text-decoration-color: #53d9eb;
}

.card {
  width: 25rem;
  border-color: #4e4e4e;
}

.card-button {
  background-color: #a45a52;
}

.contact-info {
  background-image: url("../images/bridge.jpg");
  background-position: center;
  background-size: contain;
  height: 500px;
}
/*# sourceMappingURL=styles.css.map */