.about-me {
    background-image: url('../images/hero-image.jpg');
    background-position: -645px center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.1);
    box-shadow: 0 0 125px rgba(15, 15, 15, 0.9) inset;
}

.about-me-text {
    margin-top: 275px;
}

.about-me-name {
    margin-bottom: 50px;
}

.about-me-info {
    font-size: 1.5rem;
}

@media (min-width: 576px) {
    .about-me {
        background-position: center;
    }

    .about-me-info {
        font-size: 2.2rem;
    }
}

