.about-me {
    width: 100%;
    height: 95vh;
    background-image: url('../images/hero-image.jpg');
    background-position: -590px center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 125px rgba(15, 15, 15, 0.9) inset;
}

.about-me-text {
    height: 100%;
    background-color: rgba(65, 65, 65, 0.45);
}

.about-me-header {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.about-me-name {
    font-size: 2.25rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: $cadet-blue;
}

.text-highlight {
    color: $cadet-blue;
}

.about-me-info-sm {
    font-size: 1.35rem;
    margin: 0;
    margin-top: $about-info-m-y;
    margin-bottom: $about-info-m-y;
}

.about-me-info-sm-dev {
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-height: 736px) {
    .about-me {
        background-position: -500px center; 
    }
}

@media (min-width: 576px) {
    .about-me {
        background-position: center;
    }

    .about-me-header {
        font-size: 2.75rem;
    }

    .about-me-name {
        font-size: 3rem;
    }

    .about-me-info-sm {
        font-size: 2rem;
    }

    .about-me-info-sm-dev {
        font-size: 2.25rem;
    }
}

@media (max-width: 767px) {
    .about-me-info-md {
        display: none;
    }
}

@media (min-width: 768px) {
    .about-me-info-sm,
    .about-me-info-sm-dev {
        display: none;
    }

    .about-me-text {
        padding-left: 2rem;
    }

    .about-me-header {
        width: 60%;
        margin-top: 4.5rem;
        margin-bottom: 1rem;
    }

    .about-me-name {
        width: 60%;
        font-size: 3.25rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .about-me-info-md {
        width: 60%;
        font-size: 1.25rem;
        margin-top: 1rem;
    }

    .text-highlight {
        font-weight: bold;
    }
}

@media (min-width: 992px) {
    .about-me-header {
        margin-top: 6.25rem;
    }

    .about-me-name {
        margin-top: 0rem;
    }

    .about-me-info-md {
        font-size: 1.45rem;
        margin-top: 0.75rem;
    }
}

/*Media Queries for mobile landscape orientation*/
@media (max-width: 1200px) and (max-height: 850px) {
    .about-me-header {
        font-size: 2rem;
    }

    .about-me-name {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .about-me-info-md {
        font-size: 1.25rem;
    }
}

@media (max-width: 896px) and (max-height: 505px) {
    .about-me-info-sm,
    .about-me-info-sm-dev {
        display: none;
    }

    .about-me-header {
        font-size: 1.25rem;
        margin: 0rem;
    }

    .about-me-name {
        font-size: 1.5rem;
        margin: 0rem;
        margin-bottom: 0.4rem;
    }

    .about-me-header,
    .about-me-name,
    .about-me-info-md {
        width: 60%;
    }

    .about-me-info-md {
        display: block;
        font-size: 0.85rem;
        margin: 0rem;
        margin-left: 0.5rem;
    }
}