.about-me {
    width: 100%;
    height: 100vh;
    background-image: url('../images/hero-image.jpg');
    background-position: -700px center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 125px rgba(15, 15, 15, 0.9) inset;
}

.about-me-text {
    margin-top: 150px;
}

.about-me-name {
    font-size: 3rem;
    margin-bottom: 50px;
}

.about-me-info {
    font-size: 1.75rem;
}

@media (max-height: 736px) {
    .about-me {
        background-position: -500px center; 
    }
}

@media (min-width: 576px) {
    .about-me {
        background-position: center;
    }

    .about-me-info {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .about-me-text {
        visibility: hidden;
    }
}


