.contact-info {
    background-image: url('../images/bridge.jpg');
    background-position: center -250px;
    background-size: cover;
    height: auto;
}

.contact-container {
    background-color: White;
    opacity: 0.9;
    border-radius: 8px;
}

.contacts-section-header {
    color: $dark-grey;
    font-weight: bolder;
    -webkit-text-decoration-line: underline; /* Safari */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: $cadet-blue;
    @include clearfix;
}