.contact-info {
    background-image: url('../images/sculpture.jpg');
    background-position: center -250px;
    background-size: cover;
    height: auto;
}

.contact-container {
    background-color: White;
    opacity: 0.9;
    border-radius: 8px;
    transition: all 0.3s linear;
}

.contacts-section-header {
    color: $dark-grey;
    font-weight: bold;
    -webkit-text-decoration-line: underline; /* Safari */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: $brick;
    @include clearfix;
}

.social-svgs {
    width: 127.9px;
    margin-left: auto;
    margin-right: auto;
}

.github,
.linkedin,
.instagram {
    fill: $brick;
}

/*Code for contact section fade in effect*/
.contact-container-hidden {
    opacity: 0;
}