.intro-overlay {
    position: fixed; 
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    transition: all 0.5s;
}

.overlay-content {
    background-color: $dark-grey;
}

.profile-image-container {
    width: 150px;
    height: 150px;
    @include clearfix;
}

.profile-image-container img {
    box-sizing: content-box;
}

#overlay-highlight {
    color: $cadet-blue;
}

#intro-overlay-enter {
    background-color: $brick;
}

.enter-text {
    font-size: 1rem;
}

@media (min-width: 768px) {
    .enter-text {
        font-size: 1.5rem;
    }
}

@media (min-width: 992px) {
    .profile-image-container {
        width: 300px;
        height: 300px;
    }

    .intro-overlay-name {
        font-size: 2.25rem;
    }

    .intro-overlay-welcome {
        font-size: 2rem;
    }
}