.projects-section-header {
    color: $dark-grey;
    font-weight: bolder;
    -webkit-text-decoration-line: underline; /* Safari */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: $cadet-blue;
}

.card {
    width: 35rem;
    border-color: $dark-grey;
}

.card-body h5 {
    color: $brick;
    font-weight: bold;
}

.card-button {
    background-color: $brick;
}
