.anchor {
    margin-top: 50px;
}

.projects-section-header {
    color: $dark-grey;
    font-weight: bold;
    -webkit-text-decoration-line: underline; /* Safari */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: $brick;
}

.card {
    width: 35rem;
    border-color: $dark-grey;
    opacity: 1;
    transition: all 0.2s linear;
}

.card-body h5 {
    color: $brick;
    font-weight: bold;
}

.card-button {
    background-color: $brick;
}

/*Code for projects section fade in effect*/
.card-hidden-left {
    transform: translateX(-200px);
    opacity: 0;
}