.skills-section-header {
    color: $dark-grey;
    font-weight: bolder;
    -webkit-text-decoration-line: underline; /* Safari */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: $cadet-blue;
}