.skills-section {
    background-image: url('../images/dodge-grey.jpg');
    background-position: center -250px;
    background-size: cover;
    overflow-x: auto;    
}

.skills-section-header {
    color: $dark-grey;
    font-weight: bolder;
    -webkit-text-decoration-line: underline; /* Safari */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: $cadet-blue;
}

.skills-intro {
    margin: 0;
    padding: 0px 15px 15px;
}

.skills-header-container,
.col-md {
    background-color: White;
    opacity: 0.9;
    border-radius: 8px;
}

.col-md h4 {
    font-weight: bold;
    color: $brick;
}

.skills-section p {
    font-size: 1.20rem;
}
    
