.skills-section {
    background-image: url('../images/dodge-grey.jpg');
    background-position: center -250px;
    background-size: contain; 
}

.skills-section-header {
    color: $dark-grey;
    font-weight: bold;
    -webkit-text-decoration-line: underline; /* Safari */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: $brick;
}

.skills-intro {
    margin: 0;
    padding: 0px 15px 15px;
}

.skills-header-container,
.col-md {
    background-color: White;
    opacity: 0.9;
    border-radius: 8px;
}

.col-md h4 {
    font-weight: bold;
    color: $brick;
}

.skills-section p {
    font-size: 1.20rem;
}
    
/*Code for skills section fade in effect*/
.skills-text {
    opacity: 1;
    transition: all 0.4s linear;
}

.skills-text-hidden {
    opacity: 0;
}